<div class="filtered-content">
  <div class="job-card" *ngFor="let job of dataField">
    <img [src]="job.img" alt="Job thumbnail" class="job-image" />
    <div class="job-info-wrap">
      <div class="job-header">
        <div class="job-info">
          <h1 class="job-title">{{ job.jobTitle }}</h1>
          <p class="salary">{{ job.price }}</p>

          <!-- Company -->
          <div class="job-details">
            <div class="job-company">
              <img src="company-icon.png" alt="Company Icon" class="icon" />
              <span class="text">{{job.companyName}}</span>
              <span><img src="seperator.svg" alt="seperator" /></span>
              <img src="location-pin.png" alt="Location Icon" class="icon" />
              <span class="text">{{job.location}}</span>
            </div>
          </div>

          <!-- experience -->
          <div class="job-tags">
            <span class="tag">{{job.experienceLevel}}</span>
            <span class="tag">{{job.workType}}</span>
            <span class="tag">{{job.jobType}}</span>
          </div>
        </div>

        <!-- Actions 'like and save' -->
        <div class="job-actions">
          <div class="icon-tags">
            <button class="menu-dots">
              <img src="Menu-dots.png" alt="Menu" class="menu-icon" />
            </button>
            <button class="save-text">
              <img src="Favorite.png" alt="Save" class="action-icon" />Save
            </button>
            <button class="apply-now">Apply Now</button>
          </div>
          <span class="posted-time">{{job.postedAt}}</span>
        </div>
      </div>
    </div>

    <!-- Recruiter -->
    <div class="recuriter">
      <h4 class="cont-recruit">Contact Recruiter</h4>
      <div class="recruiter-details">
        <img [src]="job.recruiterIcon" alt="" />
        <div class="recruiter-info">
          <span class="recr-name">{{job.recruiterName}}</span>
          <span class="recr-pos">{{job.recruiterPosition}}</span>
        </div>
        <span class="job-agent">{{job.isAgent[0]}}</span>
        <button class="message"><img src="Mail.png" alt="" />Message</button>
      </div>
    </div>

    <!-- Job description -->
    <div class="job-description">
      <h4 class="description-h4">Job Description</h4>
      <p class="description-p">{{ job.jobDescription }}</p>
    </div>

    <!-- Responsibility -->
    <div class="responsibility">
      <h4 class="respons-h4">Responsibilities</h4>
      <p class="respons-p" *ngFor="let responsibility of job.responsibilities">
        <img src="check.png" alt="Check" /> {{ responsibility }}
      </p>
    </div>

    <!-- About company -->
    <div class="about-company-card">
      <div class="company-header">
        <h4 class="">About company</h4>
        <a [href]="" target="_blank" class="profile-link"
          >View company profile</a
        >
      </div>
      <div class="company-info">
        <img [src]="job.companyLogo" alt="Company Logo" class="company-logo" />
        <div>
          <h3 class="company-name">{{ job.companyName }} Company</h3>
          <p class="company-description">{{ job.companyDescription }}</p>
        </div>
      </div>
      <div class="company-details">
        <p><img src="outsource.png" alt="Type Icon" /> {{ job.outsourced }}</p>
        <p>
          <img src="user-icon.png" alt="Employees Icon" /> {{
          job.numberOfEmployees}}
        </p>
        <p>
          <img src="location-pin.png" alt="Location Icon" /> {{ job.location }}
        </p>
        <p>
          <img src="Calendar.png" alt="Calendar Icon" /> {{ job.workingDays }}
        </p>
      </div>
    </div>
  </div>
</div>
